@charset "utf-8";
/* CSS Document */

.margin{width:1190px;margin:0 auto;}

header{height:25px;background:#f3f3f3;border-bottom:1px solid #fff;}
header .margin{overflow: hidden;}
header .l{float: left;font:12px/2 "";color:#6d6465;}
header .r{float: right;}
header .r span{font:12px/2 "";color:#6d6465;margin-right:16px;}
header .r a{font:12px/2 "";margin-right:8px;color:#000;}

.search{height:100px;border-top: 1px solid #dedede;}
.search .margin{overflow: hidden;}
.search .l{float: left;margin:27px 184px 0 27px;}
.search .c{float: left;}
.search .c .t{width:415px;height:34px;border:3px solid #eee;margin-top:25px;}
.search .c .t input[name=txt]{width:260px;height:26px;padding:0 25px;border:none;background:url(../img/search.png) no-repeat 5px 6px;}
.search .c .t input[name=btn]{width:86px;height:28px;border:1px solid #508f00;background:#34a306;}
.search .c .t input[name=btn]{font:14px/24px "";color:#fff;margin:3px 0 0 8px;}
.search .c .b{font:12px/28px "";color:#000;}
.search .c .b a{color:#8c6566;}
.search .r{float: right;}
.search .r h3{font:14px/24px "";color:#828282;margin:16px 70px 0 0;}
.search .r p{font:26px/30px "";color:#268c05;background:url(../img/phone.png) no-repeat bottom  left;padding-left:16px;margin-right:14px;}

nav{height:35px;background:#229c13;}
nav .margin{overflow: hidden;}
nav .l{float: left;height:500px;}
nav .l .t{background:url(../img/xj.png) no-repeat 170px #83c501;font:16px/34px "";color:#fff;padding-left:15px;width:187px;}
nav .l ul li ul{background:#fffbe1;border:1px solid #83c501;padding-left:8px;position: relative;display: none;}
nav .l>ul>li:hover .t{background:url(../img/sj.png) no-repeat 170px #83c501;}
nav .l ul li ul li{height:37px;border-bottom:1px solid #e4ecd4;margin-bottom:4px;position: relative;}
nav .l ul li ul li{background:url(../img/yj.png) no-repeat 169px center;}
nav .l ul li ul li:last-child{border:none;}
nav .l a{display:block;float:left;font:12px/28px "";color:#3f353e;margin-top:9px;width:64px;}
nav .l a:first-child{width:47px;color:#4a9e3e;}
nav .l dl{position: absolute;left:190px;top:0;display: none;}
nav .l dl{border:1px solid #f7b381;background:#fffbe1;width:372px;height:91px;}
nav .l dl dt{width:342px;height:28px;padding:7px 15px;overflow: hidden;}
nav .l dl dt{padding-bottom:none;color:#cf140a;}
nav .l dl dd{float: left;width:82px;font:12px/18px "";color:#3e3e3e;padding-left:7px;margin:2px 0;}
nav .c{float: left;}
nav .c ul{overflow: hidden;}
nav .c ul li{float: left;width:90px;text-align:center;background:url(../img/l.png) no-repeat right center;}
nav .c ul li:last-child{background:none;}
nav .c ul li a{font:12px/34px "";color:#fff;}
nav .r{float: right;}
nav .r a img{margin-top:4px;}

#main{margin-top:8px;}
#main .t{height:31px;font:12px/30px "";border-bottom: 1px solid #e1e1e1;}
#main .b{overflow: hidden;margin-top:10px;height:400px;margin-bottom:20px;}
#main .b .l{float: left;}
#main .b .l img{margin:10px 10px 0 0;}
#main .b .r{float: left;}
#main .b .r .tab{width:950px;height:371px;}
#main .b .r td{margin-top:20px;}
#main .b .r .tab .jj{display: block;background:url(../img/hj.png) no-repeat;padding-left: 10px;}

footer .serve{height:160px;border:1px solid #e1e1e1;margin-top:16px;}
footer .serve{border-top:2px solid #2f7900;overflow: hidden;}
footer .serve .l{float: left;margin-right:90px;}
footer .serve .l h3{font:14px/24px "";color:#828282;margin:34px 0 0 25px;}
footer .serve .l p{font:26px/30px "";color:#268c05;background:url(../img/phone.png) no-repeat left bottom;}
footer .serve .l p{padding-left: 18px;margin-left:10px;}
footer .serve .r{float: left;}
footer .serve .r dl{height:160px;float:left;font:12px/26px "";width:130px;text-align:center;background:url(../img/xx.png) no-repeat right center;margin-right:40px;}
footer .serve .r dl:last-child{background:none;}
footer .serve .r dl dt{color:#30840b;margin-top:10px;}
footer .serve .r dl dd{color:#6a6472;}
footer .news{height:38px;border:1px solid #438d02;background:url(../img/t1.png) repeat-x;margin-top:8px;}
footer .news ul{overflow: hidden;margin-left:30px;}
footer .news ul li{float: left;font:12px/38px "";color:#fff;margin:0 11px;}
footer .link{height:38px;border:1px solid #e1e1e1;margin-top:8px;font:12px/38px "";}
footer .link span{color:#666;margin:0 8px;}
footer .link a{color:#000;margin:0 8px;}
footer .footer{height:108px;margin-top:9px;}
footer .footer p{font:12px/2 "";color:#666;text-align: center;}






































